In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('students_placement.csv')

In [3]:
df.shape

(300, 4)

In [4]:
df.sample(5)

     cgpa   iq  profile_score  placed
36   7.93   94             53       1
144  7.01   99             64       1
107  6.89  105             76       1
105  7.35   93             45       1
297  7.68  101             70       1

In [5]:
X = df.drop(columns=['placed'])
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [9]:
import pickle 
pickle.dump(knn,open('model.pkl','wb'))